body.path-mod-opencast ul.series {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(20vw, 200px), 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    padding: 0;
}

body.path-mod-opencast ul.series,
body.path-mod-opencast li.episode {
    list-style: none;
}

body.path-mod-opencast .episode > a {
    padding: 4px;
    border: 1px solid #ccc;
    color: #333;
    display: block;
}

body.path-mod-opencast .episode > a:hover {
    text-decoration: none;
}

body.path-mod-opencast .episode img {
    width: 100%;
    border: 1px solid #ccc;
}

body.path-mod-opencast .episode .text {
    padding: 4px 4px 0 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

body.path-mod-opencast .episode .title {
    font-weight: bold;
}

body.path-mod-opencast .episode .duration,
body.path-mod-opencast .episode .date {
    color: #666;
    font-size: 0.9em;
}

body.path-mod-opencast .episode .duration {
    float: right;
}